.off-canvas-wrap{ 'data-offcanvas' => true }
  .inner-wrap
    %header
      %nav.tab-bar
        %section.left-small
          %a.left-off-canvas-toggle.menu-icon
            %span
        %section.middle.tab-bar-section.text-center
          %h1 spotifique
        %section.right-small
          %a.right-off-canvas-toggle.menu-icon
            %span

      %aside.left-off-canvas-menu
        %form
          %input{ type: "text", placeholder: "search" }
        %ul.off-canvas-list#playlistslist

      %aside.right-off-canvas-menu
        %ul.off-canvas-list
          %li= link_to 'info', '#'
          %li= link_to 'system', '#'
          %li= link_to 'and', '#'
          %li= link_to 'stuff', '#'

    %section.main-section
      .row
        .columns
          %h1 Heading 1
          %h2 Heading 2
          %h3 Heading 3
          %h4 Heading 4
          %h5 Heading 5

          %p
            Phasellizzle ghetto volutpizzle izzle. Ut gangsta adipiscing fo shizzle. Donec shizzlin dizzle uhuh ... yih!. Own yo' sapizzle i'm in the shizzle, bling bling nizzle, accumsizzle its fo rizzle, away quis, pede. Mah nizzle crunk libero. Etizzle tellivizzle dizzle. Maurizzle dawg. Funky fresh ut pede crazy i saw beyonces tizzles and my pizzle went crizzle commodo commodo. Lorem ipsizzle dolor sizzle yo mamma, consectetuer for sure elit. Sed izzle shizznit. Quisque crackalackin sizzle, break it down dope, da bomb the bizzle, eleifend a, sheezy.

            Daahng dawg maurizzle nisi dang pretizzle. Uhuh ... yih! sizzle amizzle pimpin'. Yo eu owned egizzle lacus crunk. Da bomb gangsta viverra ipsum. Curabitur own yo' arcu. Get down get down enizzle enim, shut the shizzle up sed, congue izzle, dignissim non, libero. Gangster vitae shiz nizzle that's the shizzle posuere pharetra. Quisque tellivizzle tortizzle, shiznit pulvinizzle, auctor fo shizzle, cool sizzle dizzle, erat. Donizzle izzle pimpin'. Aliquam risus purizzle, uhuh ... yih! consectetuer, sollicitudizzle izzle, consequat cool, turpis. Quisque fo shizzle ipsizzle eu check out this break yo neck, yall vehicula. Curabitur accumsizzle sagittizzle ipsizzle. Pellentesque habitant fo shizzle mah nizzle fo rizzle, mah home g-dizzle tristique sure et boofron fizzle mammasay mammasa mamma oo sa stuff uhuh ... yih! pimpin' hizzle. Fo fizzle. Curabitur elementum. The bizzle eros felizzle, mammasay mammasa mamma oo sa quis, boom shackalack owned, yo pulvinizzle, nisl. Pizzle sagittis gravida uhuh ... yih!.

          %ul
            %li some list entries
            %li some list entries
            %li some list entries
            %li some list entries

      %a.exit-off-canvas
