footer
  // border-top: 1px solid $alert-color
  width: 100%
  padding: rem-calc(5)
  background-color: $dark
  position: absolute
  bottom: 0
  overflow: hidden
  height: rem-calc(40)

  .overlay
    height: rem-calc(30)
    width: rem-calc(30)
    position: absolute
    top: rem-calc(5)

  .scroll
    right: rem-calc(3)

  .album
    left: rem-calc(3)


#playit, #stopit, #prev, #next, #scroll-controls
  display: inline-block
  margin: rem-calc(0 2)
  border: 2px solid $primary-color
  width: rem-calc(30)
  height: rem-calc(30)
  background-size: contain

#playit
  background-image: image-url('icons/btn_play_w.png')

#stopit
  background-image: image-url('icons/btn_stop_w.png')

#prev
  background-image: image-url('icons/btn_prev_w.png')

#next
  background-image: image-url('icons/btn_next_w.png')

#scroll-controls
  +transition(-webkit-transform, 0.4s, ease-out)
  +transition(transform, 0.4s, ease-out)
  background-image: image-url('icons/btn_updown_w.png')

  .shifted &
    +transform(rotate(180deg))

.slidin-content
  padding: rem-calc(0 30)

.footer-window
  +transition(top, 0.4s, ease-out)
  position: relative
  top: 0

  .shifted &
    top: rem-calc(-43)

.now-playing
  padding-right: rem-calc(10)
  background-color: $dark
  position: absolute
  bottom: rem-calc(42)
  +transition(bottom, 0.4s, ease-out)

  &.out-of-view
    bottom: 0

  p
    display: inline
    padding-left: rem-calc(10)

  .columns
    padding: 0
